language: node_js
node_js:
- '6'
addons:
  firefox: "43.0"
before_install:
- echo "registry = https://realglobe.artifactoryonline.com/realglobe/api/npm/npm-virtual" > $HOME/.npmrc
- curl -u${NPM_USER}:${NPM_PASSWORD} "https://realglobe.artifactoryonline.com/realglobe/api/npm/auth" >> $HOME/.npmrc
- cat $HOME/.npmrc
- export DISPLAY=:99.0
- sh -e /etc/init.d/xvfb start
install:
- npm install
script:
- ./ci/build.js
- ./ci/test.js
- ./ci/test_browser.js
- ./ci/cover.js
- ./ci/report.js
after_success:
- ./ci/travis/publish.js
- ./ci/travis/push_sugos_index.js
env:
  secure: "WIANfSYFKI94w2K2Xkk6K7oTAS1W9ySuXMNjzlJj1uVzuhcvdbdFA/67WQsusgYDGL1uSN9HTLbtjWIVdTygx9K/9+MyiMDxAgpYTWgX2fsanh6kmFYY3mc63PlpHxec1fW12VlUUkQBGrrx0aTUmaHvtPjcnphWsPRUgZDVRWA2rYiCzbaQxbRCgiBbiGDpiBZh5TqQl3VQ0Ye/8AHmJHxTSqkBtrRFyOfLNq1yZ5Ycioaq5J395oC6zV83fK+RNal3NtsdjmlHlmf2bjjuwveH13cazk6+g6KyTRSWMIB2nMJXsoEeQgCrIoRHamPFmrFV1ATGmUv2CswfLIDGTznPGE5u98Jx0+40FNKSO6PieHhVQZ2X7F0RrQV8f+pACN2pPEoYLxMyVteQKEzMP7/0/atqbtWql9x75EKgsF9C217wTrJvqVypeZZshVI+Rlp3xRZLsY93qEjt+XD7aPpZNFPqIzl1z9EhzU98+Q9xBlgZu4foU2vh21tNbVn9ioHnHt+T+wZOlM7eoFOehYqVudcoUafOnNqGPzN2hfuTXAhkO5hnrm5mEa90NalkYNrQfI1iFegelpvGr13bvrQWePuw7rWa6vJqle4dyiP7pwR2arN8Odk60F62XrVeQXjPKrmRtyTGpMTrd22yF4JS1/E/QRcGnMceQt3qeC4="
